.card{
    width: 50%;
    max-width: 470px;
    height: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

